version: "3.9"

volumes:
  plugins:
    

services:
  plugins:
    container_name: plugins_container
    image: plugins
    privileged: true
    build: 
      context: .
      dockerfile: ./docker/Dockerfile
    
  nginx: 
    container_name: host_proxy
    image: host
    build: 
      context: .
      dockerfile: ./host/Dockerfile
    
    ports:
      - 8080:80
    



  